<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean id="printIt" class="co.lofongi.first.printIt"></bean>
	
	
	<!--  equels to Person p = new Person(); p.setFirstName("Sam"); p.setLastName("Few"); return p; -->
	<bean id="person" class="co.lofongi.first.Person">
		<property name="firstname" value="Sam"></property>
		<property name="lastName" value="Few"></property>
	</bean>
	
	
	
	
	<bean id="car" class="co.lofongi.first.Car">
		<property name="name" value="BMW 760Li perfomence"></property>
		<property name="perDayCost" value="1000"></property>
	</bean>
	
	<!-- injecting the dependency -->
	<bean id="usr" class="co.lofongi.first.User">
		<property name="car" ref="car"></property>
	</bean>
	
	<!--  <bean id="stud" class="co.lofongi.first.Student" autowire="byName"> -->
	<!-- <bean id="stud" class="co.lofongi.first.Student" autowire="byType">
		<property name="name" value="Jonny"></property>
		<property name="id" value="5987"></property> -->
		<!-- we don't need to write -->
		<!--<property name="hostel" ref="host"></property> 
	</bean>-->
	<!-- id should be the same as in class student hostel field -->
	<!--<bean id="hostel" class="co.lofongi.first.Hostel">-->
	<!--<bean id="Hostel" class="co.lofongi.first.Hostel">
		<property name="hostelBName" value="Welcome"></property>
		<property name="city" value="Lviv"></property>
	</bean>-->
	
	 <bean id="stud" class="co.lofongi.first.Student" autowire="constructor">
		<constructor-arg name="name" value="Jonny"></constructor-arg>
		<constructor-arg name="id" value="5987"></constructor-arg>

	</bean>


	<bean id="Hostel" class="co.lofongi.first.Hostel">
		<property name="hostelBName" value="Welcome"></property>
		<property name="city" value="Lviv"></property>
	</bean>
	
	
	
</beans>


